<ion-content scroll-x="true">
  <div class="container-fluid" class="m-3">
    
    <div class="row">
      <div class="col text-center">
        <h3> <b>LIST AUDIT</b> </h3>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col text-center text-sm-left">
        <ion-button shape="round" color="success">
          <ion-icon slot="start" name="save"></ion-icon>
          Simpan ke Excel
        </ion-button>
      </div>
    </div> -->

    <div class="row">
      <div class="col">
        <ion-item>
          <ion-label position="floating">Pencarian</ion-label>
          <ion-input type="text" (keyup)="updateFilter($event)"></ion-input>
        </ion-item>
      </div>
    </div>


    <!-- <div class="row" *ngIf="isLandScape">
      <div class="col">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
              <thead class="bg-primary text-white">
                <tr>
                  <th>Nomor Barang</th>
                  <th>Nama Barang</th>
                  <th>Satuan</th>
                  <th>Kuantitas</th>
                  <th>Harga per Satuan</th>
                  <th>Detail</th>
                </tr>
              </thead>
              
            </table>
          </div>
      </div>
    </div>   -->

    <div *ngIf="isLandScape">
      <ngx-datatable
        [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="auto"
        class="material striped"
        [rows]="data"
        reorderable="true"
        [columnMode]="'force'"
        [limit]="10"
        >

        <ngx-datatable-column name="Pengguna" prop="user" headerClass="bg-primary text-white text-center font-weight-bold">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="text-center"> {{row.user}} </div> 
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Audit" prop="tipe_audit" headerClass="bg-primary text-white text-center font-weight-bold">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="text-center">{{row.tipe_audit}}</div> 
          </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column name="Lama" prop="nilai_lama" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.nilai_lama.nomor_barang}}
          </ng-template>
        </ngx-datatable-column> -->
        <ngx-datatable-column name="Data yang berubah" prop="nilai_baru" headerClass="bg-primary text-white text-center font-weight-bold">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div *ngIf="row.nilai_baru.nomor_barang" class="text-center"> <b> Nomor Barang :</b> {{row.nilai_baru.nomor_barang}} </div>
            <div *ngIf="row.nilai_baru.username" class="text-center"> <b> User : </b> {{row.nilai_baru.username}} </div> 
            <div *ngIf="row.nilai_baru.no_order && row.nilai_baru.bengkel" class="text-center"> <b> No Order : </b> {{row.nilai_baru.no_order}} </div> 
            <div *ngIf="row.nilai_baru.kode_pekerjaan && row.nilai_baru.pekerjaan" class="text-center"> <b> Kode Pekerjaan : </b> {{row.nilai_baru.kode_pekerjaan}} </div> 
            <div *ngIf="row.nilai_baru.no_spp" class="text-center"> <b> No SPP : </b> {{row.nilai_baru.no_spp}} </div> 
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Tanggal & Waktu Dibuat" prop="created_at" headerClass="bg-primary text-white text-center font-weight-bold">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="text-center">{{row.created_at | date:'dd MMMM yyyy -- HH:mm:ss'}}</div> 
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Details" headerClass="bg-primary text-white text-center font-weight-bold">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="text-center"> <ion-button routerLink="/menu/auditdetail/{{row.id}}"> Detail </ion-button> </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
    
  </div>

  <ion-list lines="full" *ngIf="!isLandScape">

    <pagination-controls class="text-left" (pageChange)="p = $event"></pagination-controls>

    <ion-card *ngFor="let item of data | paginate: { itemsPerPage: 5, currentPage: p }" routerLink="/menu/auditdetail/{{item.id}}">
      
      <ion-card-header color="primary" class="p-2">
        <ion-card-title>
          <h6 class="mb-0"> <b>Audit:</b>  {{item.tipe_audit}}</h6>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-label >
          <h4> <b>Pengguna: </b>  {{item.user}}</h4>
          <h4> <b>Tanggal Dibuat : </b>  {{item.created_at}}</h4>
          <h4> <b>Nomor Barang : </b>  {{item.nilai_baru.nomor_barang}}</h4>
          <!-- <h4> <b>Baru : </b>  {{item.nilai_baru}}</h4> -->
        </ion-label>
      </ion-card-content>

    </ion-card>

    <pagination-controls class="text-left" (pageChange)="p = $event"></pagination-controls>

  </ion-list>

</ion-content>