<ion-content scroll-x="true">
  <div class="container-fluid" class="m-3">
    
    <div class="row">
      <div class="col text-center">
        <h3> <b>KODE PEKERJAAN</b> </h3>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col text-center text-sm-left">
        <ion-button shape="round" routerLink="/menu/kodepekerjaancreate">
          <ion-icon slot="start" name="add"></ion-icon>
          Tambah Kode Pekerjaan
        </ion-button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-item>
          <ion-label position="floating">Pencarian</ion-label>
          <ion-input type="text" (keyup)="updateFilter($event)"></ion-input>
        </ion-item>
      </div>
    </div>

    <div *ngIf="isLandScape">
      <ngx-datatable 
        [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="auto"
        class="material striped"
        [rows]="data"
        reorderable="true"
        [columnMode]="'force'"
        [limit]="10"
        >

        <ngx-datatable-column name="Kode Pekerjaan" prop="kode_pekerjaan" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.kode_pekerjaan}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Pekerjaan" prop="pekerjaan" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.pekerjaan}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Actions" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <ion-button routerLink="/menu/kodepekerjaanedit/{{row.kode_pekerjaan}}"> Edit </ion-button>
            <ion-button color="danger" (click)="presentAlertConfirm(row)"> Delete </ion-button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
      
  </div>

  <ion-list lines="full" *ngIf="!isLandScape">

    <pagination-controls (pageChange)="p = $event"></pagination-controls>

    <ion-card *ngFor="let item of data | paginate: { itemsPerPage: 5, currentPage: p }" routerLink="/menu/kodepekerjaanedit/{{item.kode_pekerjaan}}">
      
      <ion-card-header color="primary" class="p-2">
        <ion-card-title>
          <h6 class="mb-0"> <b>Kode Pekerjaan:</b>  {{item.kode_pekerjaan}}</h6>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-label >
          <h4> <b>Pekerjaan: </b>  {{item.pekerjaan}}</h4>
        </ion-label>

        <div class="row ">
          <div class="col p-0 pl-2">
            <ion-button routerLink="/menu/kodepekerjaanedit/{{item.kode_pekerjaan}}" expand="block"> Edit </ion-button>
          </div>

          <div class="col p-0 pr-2">
            <ion-button color="danger" (click)="presentAlertConfirm(item)" expand="block"> Delete </ion-button>
          </div>
        </div>
      </ion-card-content>

    </ion-card>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>

  </ion-list>

</ion-content>