<ion-content scoll-y="true">

  <div class="container-fluid" class="m-3">

    <div class="row d-flex justify-content-center">

      <ion-item class="col-lg-4 ">
        <ion-label position="floating">Nomor Barang</ion-label>
        <ion-select placeholder="Pilih Nomor Barang" [(ngModel)]="nomor_barang" (ionChange)="onChange()">
          <ion-select-option *ngFor="let item of nmrBarang" value="{{item.nomor_barang}}">{{item.nomor_barang}}
          </ion-select-option>
        </ion-select>
      </ion-item>

    </div>

    <br>

    <h3 *ngIf="list_nomor_barang" class="text-center">Nomor Barang : <b> {{list_nomor_barang.nomor_barang}} - {{list_nomor_barang.nama_barang}} </b>  </h3>

    <br>

    <div *ngIf="landscape && list_nomor_barang">
      <ngx-datatable [headerHeight]="50" [footerHeight]="50" [rowHeight]="auto" class="material striped"
        [rows]="list_nomor_barang.arraydata" reorderable="true" [columnMode]="'force'" [limit]="10">

        <ngx-datatable-column name="No" headerClass="bg-primary text-white">
          <ng-template let-rowIndex='rowIndex' ngx-datatable-cell-template>
            {{rowIndex+1}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Asal Barang" prop="asal_barang" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.asal_barang}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Nomor Kontrak" prop="no_kontrak" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.no_kontrak}}
          </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column name="Satuan" prop="satuan" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.satuan}}
          </ng-template>
        </ngx-datatable-column> -->
        <ngx-datatable-column name="Jumlah (Angka)" prop="jml_msk_angka" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.jml_msk_angka}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Jumlah (Huruf)" prop="jml_msk_huruf" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.jml_msk_huruf}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Keterangan" prop="keterangan" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.keterangan}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Details" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <ion-button routerLink="/menu/editbarangmasuk/{{row.id}}"> Detail </ion-button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

      <br>

      <div class="row">
        <div class="col text-center text-sm-left">
          <ion-button shape="round" color="success">
            <ion-icon slot="start" name="save"></ion-icon>
            Simpan ke Excel
          </ion-button>
        </div>
      </div>
    </div>

  </div>

  <ion-list lines="full" *ngIf="!landscape && list_nomor_barang">

    <pagination-controls (pageChange)="p = $event"></pagination-controls>

    <ion-card *ngFor="let item of list_nomor_barang.arraydata | paginate: { itemsPerPage: 5, currentPage: p }"
      routerLink="/menu/editbarangmasuk/{{item.id}}">

      <ion-card-header color="primary" class="p-2">
        <ion-card-title>
          <h6 class="mb-0"> <b>Nomor Barang:</b> {{item.nomor_barang}} - {{item.nama_barang}} </h6>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-label>
          <h4> <b>Asal Barang : </b> {{item.asal_barang}}</h4>
          <h4> <b>No Kontrak : </b> {{item.no_kontrak}}</h4>
          <h4> <b>Jumlah : </b> {{item.jml_msk_angka}} ({{item.jml_msk_huruf}}) </h4>
          <h4> <b>Keterangan : </b> {{item.keterangan}}</h4>
        </ion-label>
      </ion-card-content>

    </ion-card>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>

  </ion-list>

</ion-content>