<ion-content scroll-y='true'>

  <div class="container-fluid" class="m-3">

    <div class="row">
      <div class="col p-1 ml-1 mr-1" id="print_spp">

        <div class="table-responsive">
          <table id="mytable" class="table table-borderless " *ngIf="data">
            <thead>
              <tr>
                <th colspan="2" rowspan="4" class="text-center border-left border-top border-bottom border-dark"> <img
                    src="../../../../../assets/img/Logo-DKB.png" alt="" width="200px" height="100px"> </th>
                <th colspan="4" rowspan="4" class="border-right border-top border-bottom border-dark">
                  <h4 class="text-center"> PT. DOK & PERKAPALAN <br> KODJA BAHARI (PERSERO) <br> SHIPYARD JAKARTA-II </h4>
                </th>
                <th style="vertical-align: middle" class="p-0 pl-2 border-top border-dark"> Nomor </th>
                <th style="vertical-align: middle" class="p-0 border-top border-dark"> : </th>
                <th style="vertical-align: middle" class="p-0 border-right border-top border-dark"> FF15GD2-A3.03 </th>
              </tr>
              <tr>
                <th style="vertical-align: middle" class="p-0 pl-2"> Revisi </th>
                <th style="vertical-align: middle" class="p-0"> : </th>
                <th style="vertical-align: middle" class="p-0 border-right border-dark"> 02 </th>
              </tr>
              <tr>
                <th style="vertical-align: middle" class="p-0 pl-2"> Tanggal </th>
                <th style="vertical-align: middle" class="p-0"> : </th>
                <th style="vertical-align: middle" class="p-0 border-right border-dark"> 15 Juni 2009 </th>
              </tr>
              <tr>
                <th style="vertical-align: middle" class="p-0 pl-2"> Halaman</th>
                <th style="vertical-align: middle" class="p-0"> : </th>
                <th style="vertical-align: middle" class="p-0 border-right border-bottom border-dark"> 01 dari 01 </th>
              </tr>

              <tr>
                <th colspan="9" class="text-center border p-1 border-dark">FORMAT</th>
              </tr>

              <tr>
                <th colspan="9" class="text-center border-left border-right p-1 border-dark lgsize"> <h4> <b><u>SURAT PERMINTAAN PEMBELIAN (SPP)</u></b> </h4>  </th>
              </tr>
              <tr>
                <th colspan="9" class="text-center border-left border-right p-1 border-dark lgsize"> DITUJUKAN KEPADA PENGADAAN
                  <div class="text-right mr-3"> <h4> <b>No. {{data.arraydata[0].no_spp}}</b> </h4> </div>
                </th>
              </tr>

              <tr>
                <th colspan="9" class="text-left border-left border-right p-1 pl-3 border-dark"> Diperlukan untuk Persediaan / Proyek: 
                  <u>{{data.arraydata[0].proyek}}</u> No. Order : <u>{{data.arraydata[0].no_order}}</u> </th>
              </tr>

              <tr>
                <th colspan="9" class="text-left border-left border-right p-1 pl-3 border-dark">Sifat Pengadaan : Segera / Biasa /
                  Persediaan</th>
              </tr>

              <tr>
                <th colspan="9" class="text-left border-left border-right p-1 pl-3 border-dark">Tanggal Penerimaan yang diharapkan :
                  {{data.arraydata[0].tgl_penerimaan | date:'dd MMMM yyyy'}}</th>
              </tr>

              <tr>
                <th style="vertical-align: middle; width: 5%" rowspan="2" class="text-center border border-dark p-0">
                  NO. </th>
                <th style="vertical-align: middle" rowspan="2" colspan="2" class="text-center border border-dark p-0">
                  NAMA & SPESIFIKASI BARANG </th>
                <th style="vertical-align: middle" colspan="4" class="text-center border border-dark p-0"> JUMLAH </th>
                <th style="vertical-align: middle" rowspan="2" class="text-center border border-dark p-0"> SATUAN </th>
                <th style="vertical-align: middle" rowspan="2" class="text-center border border-dark p-0"> KETERANGAN
                </th>
              </tr>

              <tr>
                <th style="vertical-align: middle"  class="text-center border p-0 border-dark">TERSEDIA</th>
                <th style="vertical-align: middle; width: 15%" class="text-center border p-0 border-dark">DIMINTA</th>
                <th style="vertical-align: middle; width: 7%" colspan="2" class="text-center border p-0 border-dark">
                  DIBELI</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data.arraydata | paginate: { itemsPerPage: 35, currentPage: p };">
                <td style="vertical-align: middle; width: 5%"
                  class="text-center border-left border-right p-0 border-dark">{{item.indexx}}</td>
                <td style="vertical-align: middle" class="border-left border-right p-0 pl-2 border-dark" colspan="2">
                  <div *ngIf="item.nama_barang != 'none'">{{item.nama_barang}}</div>
                </td>
                <td style="vertical-align: middle" class="text-center border-left border-right p-0 border-dark">
                  <div [ngStyle]="{'color':item.nomor_barang == 'none' ? 'transparent' : 'black' }">
                    {{item.nomor_barang}}</div>
                </td>
                <td style="vertical-align: middle" class="text-center border-left border-right p-0 border-dark">
                  {{item.jml_diminta}} <ion-text [ngStyle]="{'color':item.huruf == 'none' ? 'transparent' : 'black' }">({{item.huruf}})</ion-text> </td>
                <td style="vertical-align: middle" class="text-center border-left border-right p-0 border-dark"
                  colspan="2"></td>
                <td style="vertical-align: middle" class="text-center border-left border-right p-0 border-dark">
                  <div *ngIf="item.satuan != 'none'">{{item.satuan}}</div>
                </td>
                <td rowspan="35" style="width:10%" class="text-center border-left border-right p-0 border-dark" *ngIf="item.indexx == 1">
                  {{item.keterangan}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5" class="p-2 text-left border-top border-left border-dark"> <b>Catatan Pesanan harus
                    dibuat sejelas-jelasnya dan dilampiri dengan bukti pendukung</b> </td>
                <td colspan="4" class="p-2 pr-4 text-center border-top border-right border-dark"> Jakarta,
                  {{datenow | date:'dd MMMM yyyy'}} </td>
              </tr>
              <tr>
                <td colspan="2" class="p-0 pl-4 text-left border-left border-dark">Lembar 1 Untuk Pengadaan</td>
                <td colspan="3" class="p-0 text-center"></td>
                <td colspan="4" class="p-0 text-center border-right border-dark">Yang Menerima </td>
              </tr>
              <tr>
                <td colspan="9" class="p-0 pl-4 text-left border-left border-right border-dark">Lembar 2 Arsip</td>
              </tr>
              <tr>
                <td colspan="9" class="p-0 pl-4 text-left border-left border-right border-dark">Lembar 3 Rental Produksi
                </td>
              </tr>
              <tr>
                <td colspan="9" class="p-0 pl-4 text-left border-left border-right border-dark">&nbsp;
                </td>
              </tr>
              <tr>
                <td colspan="9" class="p-0 pl-4 text-left border-left border-right border-dark">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="2" class="p-0 pl-4 text-left border-left border-dark">&nbsp;</td>
                <td colspan="3" class="p-0 text-center " *ngIf="func.sspInfo.penerima != ''"></td>
                <td colspan="4" class="p-0 text-center border-right border-dark"
                  *ngIf="func.sspInfo.peminta != ''">( {{func.sspInfo.peminta}} )</td>
                <!-- if the data is '' -->
                <td colspan="3" class="p-0 text-center " *ngIf="func.sspInfo.penerima == ''">
                </td>
                <td colspan="4" class="p-0 text-center border-right border-dark"
                  *ngIf="func.sspInfo.peminta == ''">(.....................................)</td>
              </tr>
              <tr>
                <td colspan="2" class="p-0 pl-4 text-left border-left border-bottom border-dark">&nbsp;</td>
                <td colspan="3" class="p-0 pl-4 text-left border-bottom border-dark"></td>
                <td colspan="4" class="p-0 text-center border-right border-bottom border-dark"> <b>(Ka. Bid.
                    Pergudangan)</b>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>

    <div class="row">
      <div class="col text-center text-sm-left">
        <button class="btn btn-light" style="border-radius: 20px"
          styleSheetFile="../../../../../assets/css/bootstrap.min.css" printSectionId="print_spp" ngxPrint>
          <ion-button shape="round" color="warning">
            <ion-icon slot="start" name="print" color="dark"></ion-icon>
            <ion-text color="dark"> <b>Cetak</b> </ion-text>
          </ion-button>
        </button>
        <!-- <ion-button shape="round" color="warning" (click)="print()">
            <ion-icon slot="start" name="save" color="dark"></ion-icon>
             <ion-text color="dark"> <b>Simpan ke PDF</b>  </ion-text> 
          </ion-button> -->
      </div>
    </div>

    <div class="row">
      <div class="col text-center text-sm-left">
        <ion-button shape="round" color="warning" (click)="onClick()">
          <ion-icon slot="start" name="save" color="dark"></ion-icon>
          <ion-text color="dark"> <b>Simpan ke Excel</b> </ion-text>
        </ion-button>
      </div>
    </div>




  </div>

</ion-content>