<ion-content scroll-y="true">

  <div class="container-fluid" class="m-3">

    <div class="row d-flex justify-content-center">

      <ion-item class="col-lg-3">
        <ion-label position="floating">Asal Barang</ion-label>
        <ionic-selectable [canSearch]="true" searchPlaceholder="Cari berdasarkan Asal Barang" [(ngModel)]="asal_barang" [items]="asal"
        (onSelect)="onChange()" itemValueField="asal_barang" itemTextField="asal_barang">

          <ng-template ionicSelectableCloseButtonTemplate>
            <ion-icon name="close-circle"></ion-icon>
          </ng-template>

          <ng-template ionicSelectableItemTemplate let-asal="item">
            {{asal.asal_barang}}
          </ng-template>

        </ionic-selectable>

      </ion-item>

      <!-- <ion-item class="col-lg-4 ">
        <ion-label position="floating">Asal Barang</ion-label>
        <ion-select placeholder="Pilih Asal Barang" [(ngModel)]="asal_barang" (ionChange)="onChange()">
          <ion-select-option *ngFor="let item of asal" value="{{item.asal_barang}}">{{item.asal_barang}}
          </ion-select-option>
        </ion-select>
      </ion-item> -->

    </div>

    <br>

    <div *ngIf="landscape && list_asal">
      <ngx-datatable [headerHeight]="50" [footerHeight]="50" [rowHeight]="auto" class="material striped"
        [rows]="list_asal.arraydata" reorderable="true" [columnMode]="'force'" [limit]="10">

        <ngx-datatable-column name="No" headerClass="bg-primary text-white">
          <ng-template let-rowIndex='rowIndex' ngx-datatable-cell-template>
            {{rowIndex+1}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Nama Barang" prop="nama_barang" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.nama_barang}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Nomor Barang" prop="nomor_barang" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.nomor_barang}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Satuan" prop="satuan" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.satuan}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Jumlah (Angka)" prop="jml_msk_angka" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.jml_msk_angka}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Jumlah (Huruf)" prop="jml_msk_huruf" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.jml_msk_huruf}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Keterangan" prop="keterangan" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.keterangan}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Details" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <ion-button routerLink="/menu/editbarangmasuk/{{row.id}}"> Detail </ion-button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

      <br>

    </div>

  </div>

  <ion-list lines="full" *ngIf="!landscape && list_asal">

    <pagination-controls (pageChange)="p = $event"></pagination-controls>

    <ion-card *ngFor="let item of list_asal.arraydata | paginate: { itemsPerPage: 5, currentPage: p }" routerLink="/menu/editbarangmasuk/{{item.id}}">
      
      <ion-card-header color="primary" class="p-2">
        <ion-card-title>
          <h6 class="mb-0"> <b>Nomor Barang:</b> {{item.nomor_barang}}</h6>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-label >
          <h4> <b>Nama Barang : </b>  {{item.nama_barang}}</h4>
          <h4> <b>Satuan : </b>  {{item.satuan}}</h4>
          <h4> <b>Jumlah : </b>  {{item.jml_msk_angka}} ({{item.jml_msk_huruf}}) </h4>
          <h4> <b>Keterangan : </b>  {{item.keterangan}}</h4>
        </ion-label>
      </ion-card-content>

    </ion-card>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>

  </ion-list>

  <div class="row ml-2" *ngIf="list_asal">
    <div class="col text-center text-sm-left">
      <ion-button shape="round" color="primary" routerLink="/menu/barangmasukexc" (click)="transport()">
        <ion-icon slot="start" name="clipboard"></ion-icon>
        Laporan Barang Masuk
      </ion-button>
    </div>
  </div>
</ion-content>