<ion-content class="container-fluid">

  <div class="row d-flex justify-content-center m-2">
    <ion-card class="col-lg-5 p-0">

      <ion-card-header color="primary p-2">
        <ion-card-title>
          <h3 class="text-center">Barang Keluar</h3>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <form [formGroup]="barangbarukeluar" (ngSubmit)="Tambah(barangbarukeluar.value)">

          <ion-item>
            <ion-label position="floating">No. SPM</ion-label>
            <ion-input type="text" name="no_spm" maxlength="10" clearInput formControlName="no_spm" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Proyek</ion-label>
            <ion-input type="text" name="proyek" maxlength="30" clearInput formControlName="proyek" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">No Order</ion-label>
            <ion-input type="text" name="no_order" clearInput formControlName="no_order" required></ion-input>
          </ion-item>

          <!-- <ion-item>
            <ion-label position="floating">Bengkel</ion-label>
            <ion-input type="text" name="bengkel" maxlength="30" clearInput formControlName="bengkel" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Pekerjaan</ion-label>
            <ion-input type="text" name="pekerjaan" maxlength="30" clearInput formControlName="pekerjaan" required></ion-input>
          </ion-item> -->

          <ion-item>
            <ion-label position="floating">Kode Pekerjaan</ion-label>
            <ion-input type="number" inputmode="numeric" name="kode_pekerjaan" min="0" clearInput formControlName="kode_pekerjaan" required></ion-input>
          </ion-item>

          <!-- <ion-item>
            <ion-label position="floating">Tgl Keluar</ion-label>
            <ion-datetime displayFormat="DD MMMM YYYY" placeholder="Select Date" name="tgl_keluar" formControlName="tgl_keluar" required></ion-datetime>
          </ion-item> -->

          <ion-item>
            <ion-label position="floating">Nomor Barang</ion-label>
            <ion-input type="text" formControlName="nomor_barang" name="nomor_barang" read-only (click)="openModal()" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Jumlah Keluar (Angka)</ion-label>
            <ion-input type="number" inputmode="numeric" name="jml_klr_angka" min="0" clearInput formControlName="jml_klr_angka" required (change)="konversi(barangbarukeluar.value.jml_klr_angka)"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Jumlah Keluar (Huruf)</ion-label>
            <ion-input type="text" name="jml_klr_huruf" clearInput formControlName="jml_klr_huruf" required disabled></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Jumlah Permintaan Keluar (Angka)</ion-label>
            <ion-input type="number" inputmode="numeric" name="jml_klr_permintaan_angka" min="0" clearInput formControlName="jml_klr_permintaan_angka" required (change)="konversi2(barangbarukeluar.value.jml_klr_permintaan_angka)"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Jumlah Permintaan Keluar (Huruf)</ion-label>
            <ion-input type="text" name="jml_klr_permintaan_huruf" clearInput formControlName="jml_klr_permintaan_huruf" required disabled></ion-input>
          </ion-item>

          <br>

          <ion-button expand="block" type="submit" color="primary" [disabled]="!barangbarukeluar.valid">
            Tambah Barang Keluar
          </ion-button>

        </form>

      </ion-card-content>

    </ion-card>
  </div>
  

</ion-content>