<ion-content scroll-x="true">
  <div class="container-fluid" class="m-3">

    <div class="row">
      <div class="col text-center">
        <h3> <b>LIST BARANG</b> </h3>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-item>
          <ion-label position="floating">Pencarian</ion-label>
          <ion-input type="text" (keyup)="updateFilter($event)"></ion-input>
        </ion-item>
      </div>
    </div>

    <div *ngIf="isLandScape">
      <ngx-datatable [headerHeight]="50" [footerHeight]="50" [rowHeight]="auto" class="material striped" [rows]="data"
        reorderable="true" [columnMode]="'force'" [limit]="10">

        <ngx-datatable-column name="Nomor Barang" prop="nomor_barang" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.nomor_barang}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Nama Barang" prop="nama_barang" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.nama_barang}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Satuan" prop="satuan" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.satuan}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Kuantitas" prop="kuantitas" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.kuantitas}}
          </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column name="Harga" prop="harga_satuan" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.harga_satuan | currency:'Rp '}}
          </ng-template>
        </ngx-datatable-column> -->
        <ngx-datatable-column name="Details" headerClass="bg-primary text-white">
          <ng-template let-row="row" let-rowIndex='rowIndex' ngx-datatable-cell-template>
            <ion-button (click)="selectData(rowIndex)"> PILIH </ion-button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>

  </div>

  <ion-list lines="full" *ngIf="!isLandScape">

    <pagination-controls (pageChange)="p = $event"></pagination-controls>

    <ion-card *ngFor="let item of data | paginate: { itemsPerPage: 5, currentPage: p }; let i = index" (click)="selectData(i)">

      <ion-card-header color="primary" class="p-2">
        <ion-card-title>
          <h6 class="mb-0"> <b>Nomor Barang:</b> {{item.nomor_barang}}</h6>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <table class="table table-borderless mb-0">
          <tr>
            <td class="text-left p-1">Nama Barang</td>
            <td class="text-left p-1">:</td>
            <td class="text-left p-1">{{item.nama_barang}}</td>
          </tr>
          <tr>
            <td class="text-left p-1">Satuan</td>
            <td class="text-left p-1">:</td>
            <td class="text-left p-1">{{item.satuan}}</td>
          </tr>
          <tr>
            <td class="text-left p-1">Kuantitas</td>
            <td class="text-left p-1">:</td>
            <td class="text-left p-1">{{item.kuantitas}}</td>
          </tr>
        </table>
        <!-- <ion-label >
          <h4> <b>Nama Barang : </b>  {{item.nama_barang}}</h4>
          <h4> <b>Satuan : </b>  {{item.satuan}}</h4>
          <h4> <b>Kuantitas : </b>  {{item.kuantitas}}</h4>
          <h4> <b>Harga : </b>  {{item.harga_satuan | currency:'Rp '}}</h4>
        </ion-label> -->
      </ion-card-content>

    </ion-card>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>

  </ion-list>

</ion-content>