<ion-content scroll-x="true">
  <div class="container-fluid" class="m-3">
    
    <div class="row">
      <div class="col text-center">
        <h3> <b>NOMOR ORDER</b> </h3>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col text-center text-sm-left">
        <ion-button shape="round" routerLink="/menu/noordercreate">
          <ion-icon slot="start" name="add"></ion-icon>
          Tambah No Order
        </ion-button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-item>
          <ion-label position="floating">Pencarian</ion-label>
          <ion-input type="text" (keyup)="updateFilter($event)"></ion-input>
        </ion-item>
      </div>
    </div>

    <div *ngIf="isLandScape">
      <ngx-datatable 
        [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="auto"
        class="material striped"
        [rows]="data"
        reorderable="true"
        [columnMode]="'force'"
        [limit]="10"
        >

        <ngx-datatable-column name="Nomor Order" prop="no_order" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.no_order}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Bengkel" prop="bengkel" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.bengkel}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Details" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <ion-button routerLink="/menu/noorderedit/{{row.no_order}}"> Edit </ion-button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
      
  </div>

  <ion-list lines="full" *ngIf="!isLandScape">

    <pagination-controls (pageChange)="p = $event"></pagination-controls>

    <ion-card *ngFor="let item of data | paginate: { itemsPerPage: 5, currentPage: p }" routerLink="/menu/noorderedit/{{item.no_order}}">
      
      <ion-card-header color="primary" class="p-2">
        <ion-card-title>
          <h6 class="mb-0"> <b>Nomor Order:</b>  {{item.no_order}}</h6>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-label >
          <h4> <b>Bengkel: </b>  {{item.bengkel}}</h4>
        </ion-label>
      </ion-card-content>

    </ion-card>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>

  </ion-list>

</ion-content>