<ion-content scoll-x="true">
  <div class="container-fluid" class="m-3">
    
    <div class="row">
      <div class="col text-center">
        <h3> <b>BARANG KELUAR</b> </h3>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col text-center text-sm-left">
        <ion-button shape="round" routerLink="/menu/tambahbarangkeluar">
          <ion-icon slot="start" name="add"></ion-icon>
          Tambah Barang Keluar
        </ion-button>
      </div>
    </div>

    <div class="row">
      <div class="col text-center text-sm-left">
        <ion-button shape="round" (click)="exportAsXLSX()" color="success">
          <ion-icon slot="start" name="save"></ion-icon>
          Simpan ke Excel
        </ion-button>
      </div>
    </div>

    <!-- <div class="row" *ngIf="landscape">
      <div class="col">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
              <thead class="bg-primary text-white">
                <tr>
                  <th>Nomor Barang</th>
                  <th>Tanggal Masuk</th>
                  <th>No Kontrak</th>
                  <th>Asal Barang</th>
                  <th>Jumlah Masuk</th>
                  <th>Detail</th>
                </tr>
              </thead>
            </table>
          </div>
      </div>
    </div>   -->
    <div class="row">
      <div class="col">
        <ion-item>
          <ion-label position="floating">Pencarian</ion-label>
          <ion-input type="text" (keyup)="updateFilter($event)"></ion-input>
        </ion-item>
      </div>
    </div>

    <div *ngIf="landscape">
      <ngx-datatable
        [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="auto"
        class="material striped"
        [rows]="data"
        reorderable="true"
        [columnMode]="'force'"
        [limit]="10"
        >

        <ngx-datatable-column name="Nomor Barang" prop="nomor_barang" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.nomor_barang}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Tanggal Keluar" prop="tgl_keluar" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.tgl_keluar | date:'dd MMMM yyyy'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Proyek" prop="proyek" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.proyek}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="No Order" prop="no_order" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.no_order}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Jumlah Keluar" prop="jml_klr_angka" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.jml_klr_angka}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Details" headerClass="bg-primary text-white">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <ion-button routerLink="/menu/editbarangkeluar/{{row.id}}"> Detail </ion-button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>

      
  </div>

  <ion-list lines="full" *ngIf="!landscape">

    <pagination-controls (pageChange)="p = $event"></pagination-controls>

    <ion-card *ngFor="let item of data | paginate: { itemsPerPage: 5, currentPage: p }" routerLink="/menu/editbarangkeluar/{{item.id}}">
      
      <ion-card-header color="primary" class="p-2">
        <ion-card-title>
          <h6 class="mb-0"> <b>Proyek:</b>  {{item.proyek}}</h6>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-label >
          <h4> <b>Nomor Barang: </b>  {{item.nomor_barang}}</h4>
          <h4> <b>Tanggal Keluar : </b>  {{item.tgl_keluar | date:'dd MMMM yyyy'}}</h4>
          <h4> <b>No Order : </b>  {{item.no_order}}</h4>
          <h4> <b>Jumlah Keluar : </b>  {{item.jml_klr_angka}}</h4>
        </ion-label>
      </ion-card-content>

    </ion-card>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    
  </ion-list>

</ion-content>