<div class="container-fluid mt-2">

  <div class="row">

    <ion-card class="col-sm p-0" >

      <ion-card-header class="p-2" color="primary">
        <ion-card-title>
          <h5>Barang Keluar</h5>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content class="p-3">
        <h3>{{barangkeluar}}</h3>
      </ion-card-content>

    </ion-card>

    <ion-card class="col-sm p-0" >

      <ion-card-header class="p-2" color="primary">
        <ion-card-title>
          <h5>Barang Masuk</h5>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content class="p-3">
        <h3>{{barangmasuk}}</h3>
      </ion-card-content>

    </ion-card>

    <ion-card class="col-sm p-0" >

      <ion-card-header class="p-2" color="primary">
        <ion-card-title>
          <h5>Jenis Barang</h5>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content class="p-3">
        <h3>{{jenisbarang}}</h3>
      </ion-card-content>

    </ion-card>

  </div>
  
</div>
