<ion-content scoll-y="true">

  <div class="container-fluid mt-2">

    <div class="row" *ngIf="isLoading">
      <div class="col d-flex justify-content-center">
        <ion-spinner name="crescent" color="primary" [style.width.px]="func.widths" [style.height.px]="func.widths"></ion-spinner>
      </div>
    </div>

    <div class="row" *ngIf="!isLoading">

      <ion-card class="col-sm p-0" >

        <ion-card-header class="p-2" color="primary">
          <ion-card-title>
            <h5>Barang Keluar</h5>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content class="p-3">
          <h2>{{barangkeluar}}</h2>
        </ion-card-content>

      </ion-card>

      <ion-card class="col-sm p-0" >

        <ion-card-header class="p-2" color="primary">
          <ion-card-title>
            <h5>Barang Masuk</h5>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content class="p-3">
          <h2>{{barangmasuk}}</h2>
        </ion-card-content>

      </ion-card>

      <ion-card class="col-sm p-0" >

        <ion-card-header class="p-2" color="primary">
          <ion-card-title>
            <h5>Jenis Barang</h5>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content class="p-3">
          <h2>{{jenisbarang}}</h2>
        </ion-card-content>

      </ion-card>

    </div>
    
  </div>

</ion-content>